* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    Right: 0;
    background-color: blue;
    overflow-x: hidden;
}

.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.sidenav a:hover {
    background-color: yellow;
    color: black;
}

.topnav {
    overflow: hidden; background-color: blue;
}

.topnav a {
    float: left; display: block; color: white; text-align: center; padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: yellow;
    color: black;
}

.content {
    margin-left: 200px;
    padding-left: 20px;
}